@utility shadow-border {
  box-shadow: var(--shadow-border);
}

@layer components {
  .button--outline {
    @apply border-transparent shadow-border;
  }

  .button--outline:hover,
  .button--outline[data-hovered="true"] {
    @apply border-transparent;
    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.08),
      0px 2px 4px -1px rgba(0, 0, 0, 0.08),
      0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .button--outline:disabled,
  .button--outline[aria-disabled="true"] {
    @apply border-transparent shadow-border;
  }

  .search-field--secondary .search-field__group {
    @apply border-transparent bg-transparent shadow-border;
  }

  @media (hover: hover) {
    .search-field--secondary .search-field__group:hover:not(:focus-within),
    .search-field--secondary
      .search-field__group[data-hovered="true"]:not(
        [data-focus-within="true"]
      ) {
      @apply border-transparent bg-transparent;
      box-shadow:
        0px 0px 0px 1px rgba(0, 0, 0, 0.07),
        0px 1px 3px -1px rgba(0, 0, 0, 0.07),
        0px 3px 6px 0px rgba(0, 0, 0, 0.045);
    }
  }

  .search-field--secondary .search-field__group:focus-within,
  .search-field--secondary .search-field__group[data-focus-within="true"] {
    @apply border-transparent bg-transparent shadow-border;
    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.065),
      0px 1px 2px -1px rgba(0, 0, 0, 0.055),
      0px 2px 5px 0px rgba(0, 0, 0, 0.04);
  }

  .search-field--secondary[data-disabled="true"] .search-field__group,
  .search-field--secondary[aria-disabled="true"] .search-field__group {
    @apply border-transparent bg-transparent shadow-border;
  }
}
